html{
  height: 100%
}
body {
  width: 950px;
  margin: 0 auto;
  padding-top: 5px;
  height: 100%;
  }
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    display: block;
    width: 950px;
  }
#AndrewPic{
  width: 360px;
  padding-right: 50px;
}
#RyanPic{
  width: 360px;
  padding-right: 50px;
}
#TommyPic{
  width: 360px;
  padding-right: 50px;
}
#ZachPic{
  width: 360px;
  padding-right: 50px;
}
h2{
  margin: 1px;
  font-size: 35px;
}
body{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 50%), url("img/seattlenight.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
p{
  float: left;
  font-size: 30px;
  font-family: "Times New Roman";
  background-color: #eeeeee|transparent;
}
hr {
  color: black;
}
